# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Pycharm
.idea/
*.iml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# Mac OS-specific storage files
.DS_Store

# Pytest cache
*.pytest_cache

data/
models/
reports/
